<ion-header>
  <ion-toolbar>
    <!-- Creating a back button -->
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons> 
    <ion-title> Destination </ion-title>
  </ion-toolbar>
</ion-header>

<app-destination-card location="Ongata Rongai" charges="KES 20,000 ">
</app-destination-card>
<!-- This whole section is a reusable component from the search results of the home page
<ion-content>
  <img src="assets/images/Site1.png"> 

  <ion-card> 
  <ion-card-content>
    <p>Location: Ongata Rongai</p>
    <p>Charges: 20,000 KES</p>
  </ion-card-content>
  <ion-button shape="round">Plan</ion-button>   
  </ion-card>
  <ion-list>
    <ion-item lines="insert">
      <ion-label position="floating">Review</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    Can I have a card within a list  or another list 
    <ion-item>
      <!-Insert a list of previous reviews from travellers about the place
    </ion-item>
  </ion-list>
</ion-content> -->
