<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons> 
    <ion-title> Destination </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/Site1.png"> 

  <ion-card> 
  <ion-card-content>
    <p>Location: </p>
    <p>Charges: </p>
  </ion-card-content>
  <ion-button shape="round">Plan</ion-button>   
  </ion-card>
  <ion-list>
    <ion-item lines="insert">
      <ion-label position="floating">Review</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  
</ion-content>
