<ion-header>
  <ion-toolbar color="secondary"> 
    <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tembea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper [autoplay]="true" [zoom]="true" [loop]="true">
    <ng-template swiperSlide>
      <ion-card> 
        <img src="assets/images/Site1.png"> 
      </ion-card>
    </ng-template>

    <ng-template swiperSlide>
      <ion-card> 
        <img src="assets/images/Site2.png"> 
      </ion-card>
    </ng-template>
    
    <ng-template swiperSlide>
      <ion-card> 
        <img src="assets/images/Site3.png"> 
      </ion-card>
    </ng-template>
  </swiper>
  
</ion-content>

