<ion-header>
  <ion-toolbar color="secondary"> 
    <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tembea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper [autoplay]="true" [pagination]="true" [scrollbar]="true" [zoom]="true" [loop]="true">
    <ng-template swiperSlide>Slide 1</ng-template>
    <ng-template swiperSlide>Slide 2</ng-template>
    <ng-template swiperSlide>Slide 3</ng-template>
  </swiper>
</ion-content>

